body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#login,
#chat {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    text-align: center;
}

#messages {
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

#gifContainer {
    margin-top: 10px;
}

.gif {
    width: 100px;
    height: auto;
    cursor: pointer;
}